@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {
        font-family: "danaRegular";/* 400 */
        src: url("../public/fonts/Dana/woff2/DanaFaNum-Regular.woff2") format("woff2");
        font-display: swap;
    }

    @font-face {
        font-family: "danaMedium";/* 500 */
        src: url("../public/fonts/Dana/woff2/DanaFaNum-Medium.woff2") format("woff2");
        font-display: swap;
    }

    @font-face {
        font-family: "danaBold";/* 600 */
        src: url("../public/fonts/Dana/woff2/DanaFaNum-DemiBold.woff2") format("woff2");
        font-display: swap;
    }


    @font-face {
        font-family: "morabbaLight";/* 00 */
        src: url("../public/fonts/Morabba/woff2/Morabba-Light.woff2") format("woff2");
        font-display: swap;
    }

    @font-face {
        font-family: "morabbaMedium";/* 00 */
        src: url("../public/fonts/Morabba/woff2/Morabba-Medium.woff2") format("woff2");
        font-display: swap;
    }

    @font-face {
        font-family: "morabbaBold";/* 00 */
        src: url("../public/fonts/Morabba/woff2/Morabba-Bold.woff2") format("woff2");
        font-display: swap;
    }

    body{
        font-family: "danaRegular";
    }
}

@layer components{
    .circle{
        @apply flex items-center justify-center border rounded-circle;
    }
}